
.card{
    background-color:grey !important;
    box-shadow: 5px 5px 15px black !important;
}  
 

header{
    background-color: rgb(193, 196, 228);
    color: rgb(182, 42, 224);
    height: 60px;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 12px 4px rgb(237, 254, 255);
}
